# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=sua_url_do_supabase_aqui
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anonima_do_supabase_aqui

# Exchange Rate API (para conversão de moedas)
NEXT_PUBLIC_EXCHANGERATE_KEY=sua_chave_api_aqui
